# -- Symfony2 -----------------------------------------
/server/app/bootstrap.php.cache
/server/app/bootstrap_cache.php.cache
/server/app/config/parameters.ini
/server/app/config/parameters.yml
/server/app/cache/*
/server/app/logs/*
/server/vendor/*
/server/web/bundles/*
/server/web/css/*
/server/web/js/*
/server/web/uploads/*

###> symfony/framework-bundle ###
/server/.env.local
/server/.env.local.php
/server/.env.*.local
/server/config/secrets/prod/prod.decrypt.private.php
/server/public/bundles/
/server/var/
###> lexik/jwt-authentication-bundle ###
/server/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###






app/bootstrap.php.cache
app/bootstrap_cache.php.cache
app/config/parameters.ini
app/config/parameters.yml
app/cache/*
app/logs/*
vendor/*
web/bundles/*
web/css/*
web/js/*
web/uploads/*
 
# -- Composer -----------------------------------------
/server/composer.phar
composer.phar
 
# -- PHPUnit ------------------------------------------
/server/app/phpunit.xml  
app/phpunit.xml 



# -- Angular-------------------------------------
# Typings file.
/client/typings/
# Misc
/client/coverage/
/client/node_modules/
/client/tmp/
/client/npm-debug.log*
/client/yarn-error.log*
/client/.ng_pkg_build/
/client/.ng-dev.log
/client/.ng-dev.err*.log
/client/.ng-dev.user*
/client/.husky/_
/client/.bazelrc.user
/client/.eslintcache
/client/bazel-*
/client/test-project-host-*
/client/dist/
/client/dist-schema/
/client/jsconfig.json





 
# -- Editores -----------------------------------------
# vim
/server/.*.sw[a-z]
/server/*.un~
/server/Session.vim
/server/.netrwhist
/client/.*.sw[a-z]
/client/*.un~
/client/Session.vim
/client/.netrwhist
.*.sw[a-z]
*.un~
Session.vim
.netrwhist
 
# eclipse
/client/*.pydevproject
/client/.project
/client/.metadata
/client/bin/**
/client/tmp/**
/client/tmp/**/*
/client/*.tmp
/client/*.bak
/client/*.swp
/client/*~.nib
/client/local.properties
/client/.classpath
/client/.settings/
/client/.loadpath
/client/.externalToolBuilders/
/client/*.launch
/client/.buildpath
/server/*.pydevproject
/server/.project
/server/.metadata
/server/bin/**
/server/tmp/**
/server/tmp/**/*
/server/*.tmp
/server/*.bak
/server/*.swp
/server/*~.nib
/server/local.properties
/server/.classpath
/server/.settings/
/server/.loadpath
/server/.externalToolBuilders/
/server/*.launch
/server/.buildpath
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.buildpath
 
# phpstorm
/server/.idea/
/client/.idea/
.idea/
 
# textmate
/server/*.tmproj
/server/*.tmproject
/server/tmtags
/client/*.tmproj
/client/*.tmproject
/client/tmtags
*.tmproj
*.tmproject
tmtags
 
# sublimetext
/server/*.sublime-project
/server/*.sublime-workspace
/client/*.sublime-project
/client/*.sublime-workspace
/*.sublime-project
*.sublime-workspace
 
# netbeans
/server/nbproject/private/
/server/build/
/server/nbbuild/
/server/dist/
/server/nbdist/
/server/nbactions.xml
/server/nb-configuration.xml
/client/nbproject/private/
/client/build/
/client/nbbuild/
/client/dist/
/client/nbdist/
/client/nbactions.xml
/client/nb-configuration.xml
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# VSCode
/client/.vscode/
/client/!.vscode/settings.json
/client/!.vscode/tasks.json
/client/!.vscode/launch.json
/client/!.vscode/extensions.json
/client/**/*.code-workspace 

/server/.vscode/
/server/!.vscode/settings.json
/server/!.vscode/tasks.json
/server/!.vscode/launch.json
/server/!.vscode/extensions.json
/server/**/*.code-workspace

.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
**/*.code-workspace

# -- Sistemas Operativos ------------------------------
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
