<div class="card">
    <div class="card-header">
      {{pageTitle}}
    </div>
  
    <div class="card-body">
      <form novalidate
            (ngSubmit)="saveRepuesto()"
            [formGroup]="repuestoForm">
  
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                 for="repuestoNameId">Nombre repuesto</label>
          <div class="col-md-8">
            <input class="form-control"
                   id="repuestoNameId"
                   type="text"
                   placeholder="Name (required)"
                   formControlName="title"
                   name="title" />
          </div>
        </div>
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                 for="shortdescriptionId">descripcion corta</label>
  
          <div class="col-md-8">
            <textarea class="form-control"
                      id="shortdescriptionId"
                      placeholder="Short Description"
                      rows=3
                      formControlName="shortDescription"
                      name="shortDescription"></textarea>
          </div>
        </div>
  
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                 for="descriptionId">Descripcion</label>
  
          <div class="col-md-8">
            <textarea class="form-control"
                      id="descriptionId"
                      placeholder="Description"
                      rows=3
                      formControlName="description"
                      name="description"></textarea>
          </div>
        </div>
  
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                 for="priceId">Precio</label>
  
          <div class="col-md-8">
            <input class="form-control"
                      id="priceId"
                      placeholder="Price"
                      formControlName="price"
                      name="price" />
          </div>
        </div>

  
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                 for="categoriesId">categorias</label>
  
          <div class="col-md-8">
            <input class="form-control"
                      id="categoriesId"
                      placeholder="Categoria"
                      formControlName="category"
                      name="category" />
          </div>
        </div>
  
      <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                 for="imageId">Imagen</label>
  
          <div class="col-md-8">
            <input class="form-control"
                      id="imageId"
                      placeholder="Image"
                      formControlName="image"
                      name="image" />
          </div>
        </div>
  
        <div class="form-group row mb-2">
          <div class="offset-md-2 col-md-4">
            <button class="btn btn-primary mr-3"                    
                    type="submit">
              Save
            </button>
            <button class="btn btn-outline-secondary mr-3"                    
                    type="button"
                    title="Cancel your edits"
                    [routerLink]="['']">
              Cancel
            </button>
            <button class="btn btn-outline-warning"                  
                    type="button"
                    title="Delete this repuesto"
                    (click)="deleteRepuesto()">
              Delete
            </button>
          </div>
        </div>
      </form>
    </div>
  
    <div class="alert alert-danger"
         *ngIf="errorMessage">{{errorMessage}}
    </div>
  </div>