<div class="card">
    <div class="card-header">
      {{pageTitle}}
    </div>
  
    <div class="card-body">
      <form novalidate
            (ngSubmit)="saveRepuesto()"
            [formGroup]="repuestoForm">
  
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                 for="repuestoNameId">Nombre</label>
          <div class="col-md-8">
            <input class="form-control"
                   id="repuestoNameId"
                   type="text"
                   placeholder="Nombre"
                   formControlName="name"
                   name="name"/>
          </div>
        </div>
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                 for="modelId">Modelo</label>
  
          <div class="col-md-8">
            <textarea class="form-control"
                      id="modelId"
                      placeholder="Modelo"
                      rows=3
                      formControlName="model"
                      name="model"></textarea>
          </div>
        </div>
  
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                 for="descriptionId">Descripción</label>
  
          <div class="col-md-8">
            <textarea class="form-control"
                      id="descriptionId"
                      placeholder="Descripción"
                      rows=3
                      formControlName="description"
                      name="description"></textarea>
          </div>
        </div>
  
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                 for="priceId">Precio</label>
  
          <div class="col-md-8">
            <input class="form-control"
                      id="priceId"
                      placeholder="Precio"
                      formControlName="price"
                      name="price" />
          </div>
        </div>

  
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                 for="categoriesId">Categoria</label>
  
          <div class="col-md-8">
            <select class="form-control"
                    id="categoriesId"
                    placeholder="Categoria"
                    formControlName="category"
                    name="category">
              <option>Frenos</option>
              <option>Motor</option>
              <option>Embrague</option>
              <option>Chasis</option>
              <option>Líquidos</option>
              <option>Neumáticos</option>
              <option>Llantas</option>
              <option>Aerodinámica</option>
              <option>Interior</option>
              <option>Chapa</option>
              <option>Electronica</option>
              <option>Luces</option>
            </select>
</div>
        </div>
  
      <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                 for="imageId">Imagen</label>
  
          <div class="col-md-8">
            <input class="form-control"
                      id="imageId"
                      placeholder="Enlace Imagen"
                      formControlName="image"
                      name="image" />
          </div>
        </div>
  
        <div class="form-group row mb-2">
          <div class="offset-md-2 col-md-5">
            <button style="margin: 10px" class="btn btn-success mr-3"
                    type="submit"
                    title="Guardar este repuesto">
              Guardar
            </button>
            <button style="margin: 10px" class="btn btn btn-warning mr-3"
                    type="button"
                    title="Dejar de editar"
                    [routerLink]="['']">
              Cancelar
            </button>
            <button style="margin: 10px" class="btn btn-danger"
                    type="button"
                    title="Borrar este repuesto"
                    (click)="deleteRepuesto()">
              Borrar
            </button>
          </div>
        </div>
      </form>
    </div>
  
    <div class="alert alert-danger"
         *ngIf="errorMessage">{{errorMessage}}
    </div>
  </div>