<figure class="figure">
  <img src="{{repuesto.image}}">
  <figcaption class="figure-caption">
    <h4>Nombre: {{repuesto.title}}</h4>
    <h5>Precio: {{repuesto.price | currency}}</h5>
    <h5> Descripcion: {{repuesto.description}}</h5>
    <h5>Categoria: {{repuesto.categories}}</h5>
  </figcaption>
</figure>

<div class="row mt-4">
  <div class="col-md-4">
    <button class="btn btn-outline-secondary mr-3"
            style="width:80px"
            (click)="onBack()">
      <i class="fa fa-chevron-left"></i> Atrás
    </button>
    <button class="btn btn-outline-primary"
            style="width:80px"
            (click)="goEdit()">
      Editar
    </button>
  </div>
</div>
